{{ content }}

{{ section:page_js }}
    <script>
        $(document).ready(function() {
            /* this fades out the red logo as you scroll down */
            $(window).bind("scroll", function() {
                var zero_opacity_height = 300;
                $this = $(this);
                $logo = $('#logo');
                var opacity = 1;
                if ($this.scrollTop() < zero_opacity_height ) { //Fade in at a level of height
                    opacity = Math.max(1 - ($this.scrollTop() / zero_opacity_height));
                    $logo.css('opacity', opacity);
                } else {
                    opacity = 0;
                    $logo.css('opacity', opacity);
                }
            });
        })
    </script>
{{ /section:page_js }}