{# file pages/index.twig #}
{% extends 'layouts/default.twig' %}

{% block body_class %}splash{% endblock %}

{% block content %}
    <div class="container hero-container">
        <div class="row hero-row">
            <div id="hero-image-container" class="hidden-xs">
                <img src="/img/ed-banner-greyscale.jpg" class="img-responsive">
                <div class="abs-box" id="hero-image-box-left"></div>
                <div class="abs-box" id="hero-image-box-bottom"></div>
                <div class="abs-box" id="hero-image-box-subtitle">
                    Changing how we talk about<br>
                    mental health in the tech community
                </div>
            </div>
            <div id="logo-container-xs" class="visible-xs-block col-xs-12">
                <img src="/img/osmi-logo-big.png" class="img-responsive">
            </div>
            <div class="col-xs-12" id="hero-bottom">
                <p class="text-center visible-xs-block">Changing how we talk about<br>
                    mental health in the tech community</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row highlight-row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                <h2>OSMI Forums</h2>
                <a href="https://forums.osmihelp.org" target="_blank" class="btn btn-block btn-lg btn-primary">Talk with other developers and tech workers about mental health <i class="fa fa-comments"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid content-container alt-container-2">
        <div class="container content-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Awareness</h2>
                                <p class="text-center"><i class="fa fa-heart fa-fw fa-4x"></i></p>
                                <p>We <strong>fight the harmful stigma</strong> around mental health disorders by
                                    <strong><a href="/talks">speaking openly</a></strong> about our experiences. Shame and silence are countered
                                    with honest, straightforward explanations of how mental illness affects us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Education</h2>
                                <p class="text-center"><i class="fa fa-graduation-cap fa-fw fa-4x"></i></p>
                                <p>We educate the tech community on both the <strong>economic impact</strong> of mental disorders, and how
                                    they affect worker <strong>productivity</strong>. <a href="/research">We collect and share important data</a>
                                    on tech workers' expectations about how they'll be treated.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Resources</h2>
                                <p class="text-center"><i class="fa fa-cogs fa-fw fa-4x"></i></p>
                                <p>We help workplaces identify <strong><a href="/resources">the best resources</a></strong> to support their employees, and we create
                                    detailed guides on how to make the workplace <strong>safe and supportive</strong> for those with mental health
                                    issues.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid content-container">
        <div class="container content-container" id="sponsors">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="content-header">Sponsors</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="content-header text-center">Ultra-Level</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-flex">
                    <a class="sponsor-logo-wrapper" href="http://www.mindfulware.com/" target="_blank"><img src="./img/sponsors/mindfulware.png" class="img-responsive"></a>
                    <a class="sponsor-logo-wrapper" href="http://watchmecode.net/" target="_blank"><img src="./img/sponsors/watchmecode.png" class="img-responsive"></a>
                    <a class="sponsor-logo-wrapper" href="http://cakephp.org/" target="_blank"><img src="./img/sponsors/cakesoftwarefoundation.png" class="img-responsive"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="content-header text-center">Mega-Level</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-flex">
                    <a class="sponsor-logo-wrapper" href="http://www.cakedc.com/" target="_blank"><img src="./img/sponsors/cakedc.png" class="img-responsive"></a>
                    <a class="sponsor-logo-wrapper" href="http://dealnews.com/" target="_blank"><img src="./img/sponsors/dealnews.png" class="img-responsive"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="content-header text-center">Amaze-Level</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-flex">
                    <a class="sponsor-logo-wrapper" href="http://brandingbrand.com/" target="_blank"><img src="./img/sponsors/brandingbrand.png" class="img-responsive"></a>
                    <a class="sponsor-logo-wrapper" href="http://hock.in/" target="_blank"><img src="./img/sponsors/chris-hartjes-is-a-complete-jerk.png" class="img-responsive"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-container" id="wall-of-awesome">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="content-header text-center">The Wall of Awesome</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="content-header text-center">2015</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
<p class="wall-of-awesome-name text-center">CJ Livingston</p>
<p class="wall-of-awesome-name text-center">joepelow</p>
<p class="wall-of-awesome-name text-center">Tim Corrin</p>
<p class="wall-of-awesome-name text-center">Justin Martin</p>
<p class="wall-of-awesome-name text-center">Guillermo Mansilla</p>
<p class="wall-of-awesome-name text-center">G J Hockin</p>
<p class="wall-of-awesome-name text-center">Thomas North Gamble</p>
<p class="wall-of-awesome-name text-center">Kevin B Tuttle</p>
<p class="wall-of-awesome-name text-center">Gregory Tarnoff</p>
<p class="wall-of-awesome-name text-center">Brian Fenton</p>
<p class="wall-of-awesome-name text-center">Jerry Evans</p>
<p class="wall-of-awesome-name text-center">Brian Wisti</p>
<p class="wall-of-awesome-name text-center">R J de la Fuente</p>
<p class="wall-of-awesome-name text-center">Spencer Hoyt</p>
<p class="wall-of-awesome-name text-center">Nick Sutterer</p>
<p class="wall-of-awesome-name text-center">Ted M Young</p>
<p class="wall-of-awesome-name text-center">Diana Espino</p>
<p class="wall-of-awesome-name text-center">Justin Carmony</p>
<p class="wall-of-awesome-name text-center">Tyler Mincey</p>
<p class="wall-of-awesome-name text-center">Tim Heckman</p>
<p class="wall-of-awesome-name text-center">Daniel Cousineau</p>
<p class="wall-of-awesome-name text-center">Allan MacGregor</p>
<p class="wall-of-awesome-name text-center">A forsstrom</p>
<p class="wall-of-awesome-name text-center">Brion Vibber</p>
<p class="wall-of-awesome-name text-center">max</p>
<p class="wall-of-awesome-name text-center">Cristovao Verstraeten</p>
<p class="wall-of-awesome-name text-center">Matthew R Sparks</p>
<p class="wall-of-awesome-name text-center">Wesley Beam</p>
<p class="wall-of-awesome-name text-center">Scott Arciszewski</p>
<p class="wall-of-awesome-name text-center">Zachary Copley</p>
<p class="wall-of-awesome-name text-center">Adam Jenkins</p>
<p class="wall-of-awesome-name text-center">Alexandra H. Johnson</p>
<p class="wall-of-awesome-name text-center">nehemiahwyant</p>
<p class="wall-of-awesome-name text-center">Matt Brunt</p>
<p class="wall-of-awesome-name text-center">Brian Moon</p>
<p class="wall-of-awesome-name text-center">hello</p>
<p class="wall-of-awesome-name text-center">Kevin Makice</p>
<p class="wall-of-awesome-name text-center">Larry Masters</p>
<p class="wall-of-awesome-name text-center">brian</p>
<p class="wall-of-awesome-name text-center">Jake Smith</p>
<p class="wall-of-awesome-name text-center">oaklandjt</p>
<p class="wall-of-awesome-name text-center">Justin T Yost</p>
<p class="wall-of-awesome-name text-center">Kristopher Plunkett</p>
<p class="wall-of-awesome-name text-center">Mika Epstein</p>
<p class="wall-of-awesome-name text-center">daniel d beil</p>
<p class="wall-of-awesome-name text-center">Andrew L Cassell</p>
<p class="wall-of-awesome-name text-center">Aaron Jorbin</p>
<p class="wall-of-awesome-name text-center">Jean Soderkvist</p>
<p class="wall-of-awesome-name text-center">Cameron Koczon</p>
<p class="wall-of-awesome-name text-center">Brian Pitts</p>
            </div>
            <div class="col-sm-4">
<p class="wall-of-awesome-name text-center">Deborah Resnick</p>
<p class="wall-of-awesome-name text-center">Michael Beckwith</p>
<p class="wall-of-awesome-name text-center">Chris Tickner</p>
<p class="wall-of-awesome-name text-center">Joel A Rasmus</p>
<p class="wall-of-awesome-name text-center">Karen J Demerly</p>
<p class="wall-of-awesome-name text-center">Lisa Brewster</p>
<p class="wall-of-awesome-name text-center">Stefan Koopmanschap</p>
<p class="wall-of-awesome-name text-center">Matthew Mitchum</p>
<p class="wall-of-awesome-name text-center">Cresta L Cates</p>
<p class="wall-of-awesome-name text-center">andreasbirkebaek</p>
<p class="wall-of-awesome-name text-center">Daniel Joye</p>
<p class="wall-of-awesome-name text-center">AM Clyde</p>
<p class="wall-of-awesome-name text-center">Henning Glatter-Gotz</p>
<p class="wall-of-awesome-name text-center">Gemma Lynn</p>
<p class="wall-of-awesome-name text-center">Davi M Moreira</p>
<p class="wall-of-awesome-name text-center">Amanda Folson</p>
<p class="wall-of-awesome-name text-center">Stephen Sauceda</p>
<p class="wall-of-awesome-name text-center">Daryl J Chymko</p>
<p class="wall-of-awesome-name text-center">Timothy H Lieberman</p>
<p class="wall-of-awesome-name text-center">Philippe Beaudoin</p>
<p class="wall-of-awesome-name text-center">Evangelo S Prodromou</p>
<p class="wall-of-awesome-name text-center">Sharon J Cichelli</p>
<p class="wall-of-awesome-name text-center">Sean R Reid</p>
<p class="wall-of-awesome-name text-center">nicolas rosental</p>
<p class="wall-of-awesome-name text-center">FJ de Jonge</p>
<p class="wall-of-awesome-name text-center">Dave Forgac</p>
<p class="wall-of-awesome-name text-center">John P Betley</p>
<p class="wall-of-awesome-name text-center">Jordan Burke</p>
<p class="wall-of-awesome-name text-center">Sally Lehman</p>
<p class="wall-of-awesome-name text-center">pascal</p>
<p class="wall-of-awesome-name text-center">Chris G Smith</p>
<p class="wall-of-awesome-name text-center">Sean Foran</p>
<p class="wall-of-awesome-name text-center">Jack Jones</p>
<p class="wall-of-awesome-name text-center">Elizabeth Naramore</p>
<p class="wall-of-awesome-name text-center">Benjamin J Cotton</p>
<p class="wall-of-awesome-name text-center">Taylor Otwell</p>
<p class="wall-of-awesome-name text-center">Miss Laura Sanders</p>
<p class="wall-of-awesome-name text-center">R A Stringer</p>
<p class="wall-of-awesome-name text-center">Mike Hall</p>
<p class="wall-of-awesome-name text-center">Richard Stewart</p>
<p class="wall-of-awesome-name text-center">M.R.Hartley </p>
<p class="wall-of-awesome-name text-center">Bram Van der Sype</p>
<p class="wall-of-awesome-name text-center">Ryan S Adams</p>
<p class="wall-of-awesome-name text-center">Ed Cates</p>
<p class="wall-of-awesome-name text-center">Jason Charnes</p>
<p class="wall-of-awesome-name text-center">Evan Coury</p>
<p class="wall-of-awesome-name text-center">Matthew S Perkins</p>
<p class="wall-of-awesome-name text-center">Derrick Snyder</p>
<p class="wall-of-awesome-name text-center">Mark Forscher</p>
<p class="wall-of-awesome-name text-center">Chris Shiflett</p>
            </div>
            <div class="col-sm-4">
<p class="wall-of-awesome-name text-center">William Golden</p>
<p class="wall-of-awesome-name text-center">Joel Perras</p>
<p class="wall-of-awesome-name text-center">Derick E Bailey</p>
<p class="wall-of-awesome-name text-center">Scott Gowell</p>
<p class="wall-of-awesome-name text-center">Eric Hogue</p>
<p class="wall-of-awesome-name text-center">Jake Champlin</p>
<p class="wall-of-awesome-name text-center">Samantha Quiñones</p>
<p class="wall-of-awesome-name text-center">Joe Kline</p>
<p class="wall-of-awesome-name text-center">lwriemen</p>
<p class="wall-of-awesome-name text-center">James Walker</p>
<p class="wall-of-awesome-name text-center">Maggie Longshore</p>
<p class="wall-of-awesome-name text-center">Pradeep Krishnan</p>
<p class="wall-of-awesome-name text-center">Broc Seib</p>
<p class="wall-of-awesome-name text-center">Jacques Woodcock</p>
<p class="wall-of-awesome-name text-center">Kara Ferguson</p>
<p class="wall-of-awesome-name text-center">CA Hoult</p>
<p class="wall-of-awesome-name text-center">Vanessa Hurst</p>
<p class="wall-of-awesome-name text-center">Ben Ramsey</p>
<p class="wall-of-awesome-name text-center">Colin O'Dell</p>
<p class="wall-of-awesome-name text-center">M D C Pepper</p>
<p class="wall-of-awesome-name text-center">Patrick Allan</p>
<p class="wall-of-awesome-name text-center">Alice Carback</p>
<p class="wall-of-awesome-name text-center">Guillermo Mansilla</p>
<p class="wall-of-awesome-name text-center">Christian Stagevik</p>
<p class="wall-of-awesome-name text-center">Jose Diaz-Gonzalez</p>
<p class="wall-of-awesome-name text-center">Jad Bitar</p>
<p class="wall-of-awesome-name text-center">Nicholas C Duvieilh</p>
<p class="wall-of-awesome-name text-center">Dallas Cook</p>
<p class="wall-of-awesome-name text-center">Larry E Masters</p>
<p class="wall-of-awesome-name text-center">Anthony Grassiot</p>
<p class="wall-of-awesome-name text-center">David Skinner</p>
<p class="wall-of-awesome-name text-center">Mark Shannon Story</p>
<p class="wall-of-awesome-name text-center">Christopher W Brescia</p>
<p class="wall-of-awesome-name text-center">yeti</p>
<p class="wall-of-awesome-name text-center">derekkjordan</p>
<p class="wall-of-awesome-name text-center">Mr Jeremy Burns</p>
<p class="wall-of-awesome-name text-center">stiliyanlazarov</p>
<p class="wall-of-awesome-name text-center">Shawn Aukstakalnis</p>
<p class="wall-of-awesome-name text-center">Chris Greene</p>
<p class="wall-of-awesome-name text-center">William Sonnenreich</p>
<p class="wall-of-awesome-name text-center">lee</p>
<p class="wall-of-awesome-name text-center">Cory Fowler</p>
<p class="wall-of-awesome-name text-center">Nima Nekoui</p>
<p class="wall-of-awesome-name text-center">Juan R Basso</p>
<p class="wall-of-awesome-name text-center">Rodriguez Urdaneta</p>
<p class="wall-of-awesome-name text-center">Justin T Yost</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_js %}
    <script>
        $(document).ready(function() {
            /* this fades out the red logo as you scroll down */
            $(window).bind("scroll", function() {
                var zero_opacity_height = 300;
                $this = $(this);
                $logo = $('#logo');
                var opacity = 1;
                if ($this.scrollTop() < zero_opacity_height ) { //Fade in at a level of height
                    opacity = Math.max(1 - ($this.scrollTop() / zero_opacity_height));
                    $logo.css('opacity', opacity);
                } else {
                    opacity = 0;
                    $logo.css('opacity', opacity);
                }
            });
        })
    </script>
{% endblock %}