{# file pages/index.twig #}
{% extends 'layouts/default.twig' %}

{% block body_class %}splash{% endblock %}

{% block content %}
    <div class="container hero-container">
        <div class="row hero-row">
            <div id="hero-image-container" class="hidden-xs">
                <img src="/img/ed-banner-greyscale.jpg" class="img-responsive">
                <div class="abs-box" id="hero-image-box-left"></div>
                <div class="abs-box" id="hero-image-box-bottom"></div>
                <div class="abs-box" id="hero-image-box-subtitle">
                    Changing how we talk about<br>
                    mental health in the tech community
                </div>
            </div>
            <div id="logo-container-xs" class="visible-xs-block col-xs-12">
                <img src="/img/osmi-logo-big.png" class="img-responsive">
            </div>
            <div class="col-xs-12" id="hero-bottom">
                <p class="text-center visible-xs-block">Changing how we talk about<br>
                    mental health in the tech community</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row highlight-row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                <h2>2016 Mental Health in Tech Survey</h2>
                <a href="http://j.mp/osmisurvey2016" target="_blank" class="btn btn-block btn-lg btn-primary">Take it Now! <i class="fa fa-check-square"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid content-container alt-container-2">
        <div class="container content-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Awareness</h2>
                                <p class="text-center"><i class="fa fa-heart fa-fw fa-4x"></i></p>
                                <p>We <strong>fight the harmful stigma</strong> around mental health disorders by
                                    <strong><a href="/talks">speaking openly</a></strong> about our experiences. Shame and silence are countered
                                    with honest, straightforward explanations of how mental illness affects us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Education</h2>
                                <p class="text-center"><i class="fa fa-graduation-cap fa-fw fa-4x"></i></p>
                                <p>We educate the tech community on both the <strong>economic impact</strong> of mental disorders, and how
                                    they affect worker <strong>productivity</strong>. <a href="/research">We collect and share important data</a>
                                    on tech workers' expectations about how they'll be treated.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Resources</h2>
                                <p class="text-center"><i class="fa fa-cogs fa-fw fa-4x"></i></p>
                                <p>We help workplaces identify <strong><a href="/resources">the best resources</a></strong> to support their employees, and we create
                                    detailed guides on how to make the workplace <strong>safe and supportive</strong> for those with mental health
                                    issues.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-container" id="about">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="content-header">About OSMI</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-quote">
                Ed's talk is practically subversive for acknowledging mental health issues out in the open, which is exactly what we all need to be doing.<br>
                &mdash; Jacqui Cheng
            </div>
            <div class="col-sm-8 col-xs-12 col-content">
                <p><strong>Open Sourcing Mental Illness</strong> is a campaign founded by Ed Finkler to change how we deal with
                    mental health in the tech community. In 2013, Ed started <a href="/talks">speaking at tech conferences</a> about his
                    personal experiences as a web developer and open source advocate with a mental health disorder.
                    The response was overwhelming, and Ed has continued to speak, gather data, and organize efforts
                    to change experiences of those with mental health disorders in the tech workplace. This includes
                    <strong>speaking at conferences and companies</strong>, <strong><a href="/research">conducting research</a></strong>, and
                    <strong><a href="/resources">creating documentation</a></strong> to assist
                    companies in making supportive environments for those impacted by mental health disorders.  He is
                    assisted in these efforts by selfless volunteers who bring their time and expertise to bear on this
                    important issue.
                </p>

                <h3>About Ed Finkler</h3>

                <p>Ed Finkler, also known as <a href="http://funkatron.com">Funkatron</a>, started making web sites before browsers had frames. He does
                    front-end and server-side work in Python, PHP, and JavaScript. Ed is the Senior Software Architect
                    and Head of Developer Culture at <a href="http://graphstory.com">Graph Story</a>. He has suffered
                    from mental health disorders for his entire life, and believes strongly in open, fearless discussion
                    of mental health issues to combat shame and stigma.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid content-container alt-container-2">

        <div class="container content-container" id="helpus">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="content-header">Help Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-quote">
                    Inspired by the amount of courage Ed had to share this talk with us. It was eye-opening
                    to see how the way we interact with people affects them.<br>
                    &mdash; Matt Frost
                </div>
                <div class="col-sm-8 col-xs-12 col-content">
                    <h3 class="no-lead-padding">Sign up for the mailing list</h3>

                    <p>Sign up for the OSMI Mailing list to get notifications of new events, resources, and campaigns</p>

                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="//funkatron.us10.list-manage.com/subscribe/post?u=a26d1ce652ced40c2e73fd2e7&amp;id=e342ef9329" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
                                    <span class="input-group-btn">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                                    </span>
                            </div><!-- /input-group -->

                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_a26d1ce652ced40c2e73fd2e7_e342ef9329" tabindex="-1" value=""></div>
                            <div class="clear"></div>
                        </form>
                    </div>

                    <h3>Donate</h3>

                    <p>Donations to the OSMI campaign allow Ed to speak at conferences and user groups that don’t provide financial support for travel and lodging. The also fund
                        development of resources and materials to guide the creation of supportive workplaces.</p>

                    <a href="http://j.mp/osmi2015campaign" class="btn btn-primary btn-lg"><strong>Donate Now!</strong></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-container" id="sponsors">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="content-header">Sponsors</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 class="content-header text-center">Ultra-Level</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-flex">
                <a class="sponsor-logo-wrapper" href="http://www.mindfulware.com/" target="_blank"><img src="./img/sponsors/mindfulware.png" class="img-responsive"></a>
                <a class="sponsor-logo-wrapper" href="http://watchmecode.net/" target="_blank"><img src="./img/sponsors/watchmecode.png" class="img-responsive"></a>
                <a class="sponsor-logo-wrapper" href="http://cakephp.org/" target="_blank"><img src="./img/sponsors/cakesoftwarefoundation.png" class="img-responsive"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 class="content-header text-center">Mega-Level</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-flex">
                <a class="sponsor-logo-wrapper" href="http://www.cakedc.com/" target="_blank"><img src="./img/sponsors/cakedc.png" class="img-responsive"></a>
                <a class="sponsor-logo-wrapper" href="http://dealnews.com/" target="_blank"><img src="./img/sponsors/dealnews.png" class="img-responsive"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 class="content-header text-center">Amaze-Level</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-flex">
                <a class="sponsor-logo-wrapper" href="http://brandingbrand.com/" target="_blank"><img src="./img/sponsors/brandingbrand.png" class="img-responsive"></a>
                <a class="sponsor-logo-wrapper" href="http://hock.in/" target="_blank"><img src="./img/sponsors/chris-hartjes-is-a-complete-jerk.png" class="img-responsive"></a>
            </div>
        </div>
    </div>

{% endblock %}
