{# file pages/index.twig #}
{% extends 'layouts/default.twig' %}

{% block body_class %}splash{% endblock %}

{% block content %}
    <div class="container hero-container">
        <div class="row hero-row">
            <div id="hero-image-container" class="hidden-xs">
                <img src="/img/ed-banner-greyscale.jpg" class="img-responsive">
                <div class="abs-box" id="hero-image-box-left"></div>
                <div class="abs-box" id="hero-image-box-bottom"></div>
                <div class="abs-box" id="hero-image-box-subtitle">
                    Changing how we talk about<br>
                    mental health in the tech community
                </div>
            </div>
            <div id="logo-container-xs" class="visible-xs-block col-xs-12">
                <img src="/img/osmi-logo-big.png" class="img-responsive">
            </div>
            <div class="col-xs-12" id="hero-bottom">
                <p class="text-center visible-xs-block">Changing how we talk about<br>
                    mental health in the tech community</p>
            </div>
        </div>
    </div>

    <div class="container-fluid alt-container">
        <div class="container">
            <div class="row row-splash-highlight">
                <div class="col-sm-6 text-center col-splash-highlight">
                    <h2>Support OSMI to help those facing mental illness in the tech community</h2>
                    <a href="/donate" target="_blank" class="btn btn-splash-highlight btn-lg btn-primary">Donate Now</a>
                </div>
                <div class="col-sm-6 text-center col-splash-highlight-alt">
                    <h2>Talk with other developers and tech workers about mental health</h2>
                    <a href="https://forums.osmihelp.org" target="_blank" class="btn btn-splash-highlight btn-lg btn-primary">Visit the OSMI Forums</a>
                </div>
            </div>
            <div class="row row-splash-highlight-alt">
                <div class="col-sm-6 text-center col-splash-highlight">
                    <h2>Get the latest updates and information from OSMI in your inbox</h2>
                    <form action="//funkatron.us10.list-manage.com/subscribe/post?u=a26d1ce652ced40c2e73fd2e7&amp;id=e342ef9329" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="input-group input-group-lg">
                            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
                            <span class="input-group-btn">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-splash-highlight">
                        </span>
                        </div><!-- /input-group-lg -->

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_a26d1ce652ced40c2e73fd2e7_e342ef9329" tabindex="-1" value=""></div>
                        <div class="clear"></div>
                    </form>
                </div>
                <div class="col-sm-6 text-center col-splash-highlight-alt">
                    <h2>Create a workplace that nutures and supports mental wellness</h2>
                    <a href="https://leanpub.com/osmi-mental-wellness-in-the-workplace" target="_blank" class="btn btn-splash-highlight btn-lg btn-primary">Buy the OSMI Handbook</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid alt-container-2">
        <div class="container content-container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="content-header text-center">What OSMI Does</h2>
                </div>
            </div>
            <div class="row row-panel-osmi">
                <div class="col-sm-4 col-panel-osmi">
                    <a href="/talks" class="panel-osmi-linkwrap">
                        <div class="panel panel-default panel-osmi" >
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Awareness</h2>
                                <p class="text-center"><i class="fa fa-heart fa-fw fa-4x"></i></p>
                                <p>We <strong>fight the harmful stigma</strong> around mental health disorders by
                                    <strong>speaking openly</strong> about our experiences. Shame and silence are countered
                                    with honest, straightforward explanations of how mental illness affects us.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/talks" class="btn btn-panel-osmi btn-block">Watch Talks</a>
                </div>
                <div class="col-sm-4 col-panel-osmi">
                    <a href="/research" class="panel-osmi-linkwrap">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Education</h2>
                                <p class="text-center"><i class="fa fa-graduation-cap fa-fw fa-4x"></i></p>
                                <p>We educate the tech community on both the <strong>economic impact</strong> of mental disorders, and how
                                    they affect worker <strong>productivity</strong>. We collect and share important data
                                    on tech workers' expectations about how they'll be treated.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="/research" class="btn btn-panel-osmi btn-block">View Our Research</a>
                </div>
                <div class="col-sm-4 col-panel-osmi">
                    <a href="/resources" class="panel-osmi-linkwrap">
                        <div class="panel panel-default panel-osmi">
                            <div class="panel-body">
                                <h2 class="header-osmi-box text-center">Resources</h2>
                                <p class="text-center"><i class="fa fa-cogs fa-fw fa-4x"></i></p>
                                <p>We help workplaces identify <strong>the best resources</strong> to support their employees, and we create
                                    detailed guides on how to make the workplace <strong>safe and supportive</strong> for those with mental health
                                    issues.</p>

                            </div>
                        </div>
                    </a>
                    <a href="/resources" class="btn btn-panel-osmi btn-block">Find Resources</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid alt-container">
        <div class="container content-container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="content-header text-center">Know Your Rights & Change Your Culture</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail thumbnail-bookcover">
                        <a href="https://leanpub.com/osmi-mental-wellness-in-the-workplace" target="_blank">
                            <img src="/img/books/mhit-workplace.png" class="img-thumbnail img-bookcover">
                        </a>
                        <div class="caption">
                            <a class="btn btn-primary btn-lg btn-block" href="https://leanpub.com/osmi-mental-wellness-in-the-workplace" target="_blank">Get the e-book</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail thumbnail-bookcover">
                        <a href="https://leanpub.com/osmi-guidelines-for-employers" target="_blank">
                            <img src="/img/books/mhit-employers.png" class="img-thumbnail img-bookcover">
                        </a>
                        <div class="caption">
                            <a class="btn btn-primary btn-lg btn-block" href="https://leanpub.com/osmi-guidelines-for-employers" target="_blank">Get the e-book</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail thumbnail-bookcover">
                        <a href="https://leanpub.com/osmi-guidelines-for-employees" target="_blank">
                            <img src="/img/books/mhit-employees.png" class="img-thumbnail img-bookcover">
                        </a>
                        <div class="caption">
                            <a class="btn btn-primary btn-lg btn-block" href="https://leanpub.com/osmi-guidelines-for-employees" target="_blank">Get the e-book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container content-container" id="sponsors">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="content-header text-center">OSMI Supporters 2016</h2>
                </div>
            </div>

            <div class="row row-sponsor uber">
                <div class="col-sponsor-category col-md-3">
                    Like Uber for Mental Health
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://www.cakedc.com/" target="_blank">
                        <img src="./img/sponsors/cakedc.png" class="img-sponsor-logo">
                    </a>
                </div>
            </div>

            <div class="row row-sponsor ultra">
                <div class="col-sponsor-category col-md-3">
                    Ultra
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://watchmecode.net/" target="_blank">
                        <img src="/img/sponsors/watchmecode.png" class="img-sponsor-logo">
                    </a>
                </div>
            </div>

            <div class="row row-sponsor mega">
                <div class="col-sponsor-category col-md-3">
                    Mega
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://cakephp.org/" target="_blank">
                        <img src="/img/sponsors/cakesoftwarefoundation.png" class="img-sponsor-logo">
                    </a>
                    <a href="http://Resix.io/" target="_blank">
                        Resix.io
                    </a>
                </div>
            </div>

            <div class="row row-sponsor amaze">
                <div class="col-sponsor-category col-md-3">
                    Amaze
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://www.mindfulware.com/" target="_blank">
                        <img src="/img/sponsors/mindfulware.png" class="img-sponsor-logo">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="/supporters" class="btn btn-lg btn-primary"><i class="fa fa-history"></i> Previous Supporters</a>
                    <a href="/wall" class="btn btn-lg btn-primary"><i class="fa fa-diamond"></i> The Wall of Awesome <i class="fa fa-diamond"></i></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block page_js %}
    <script>
        $(document).ready(function() {
            /* this fades out the red logo as you scroll down */
            $(window).bind("scroll", function() {
                var zero_opacity_height = 300;
                $this = $(this);
                $logo = $('#logo');
                var opacity = 1;
                if ($this.scrollTop() < zero_opacity_height ) { //Fade in at a level of height
                    opacity = Math.max(1 - ($this.scrollTop() / zero_opacity_height));
                    $logo.css('opacity', opacity);
                } else {
                    opacity = 0;
                    $logo.css('opacity', opacity);
                }
            });
        })
    </script>
{% endblock %}