{# file pages/resources/index.twig #}
{% extends 'layouts/default.twig' %}

{% block page_title %}Supporters :: {{ parent() }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container content-container" id="sponsors">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="content-header text-center">OSMI Supporters 2016</h2>
                </div>
            </div>

            <div class="row row-sponsor uber">
                <div class="col-sponsor-category col-md-3">
                    Like Uber for Mental Health
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://www.cakedc.com/" target="_blank">
                        <img src="./img/sponsors/cakedc.png" class="img-sponsor-logo">
                    </a>
                </div>
            </div>

            <div class="row row-sponsor ultra">
                <div class="col-sponsor-category col-md-3">
                    Ultra
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://watchmecode.net/" target="_blank">
                        <img src="/img/sponsors/watchmecode.png" class="img-sponsor-logo">
                    </a>
                </div>
            </div>

            <div class="row row-sponsor mega">
                <div class="col-sponsor-category col-md-3">
                    Mega
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://cakephp.org/" target="_blank">
                        <img src="/img/sponsors/cakesoftwarefoundation.png" class="img-sponsor-logo">
                    </a>
                    <a href="http://Resix.io/" target="_blank">
                        Resix.io
                    </a>
                </div>
            </div>

            <div class="row row-sponsor amaze">
                <div class="col-sponsor-category col-md-3">
                    Amaze
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://www.mindfulware.com/" target="_blank">
                        <img src="/img/sponsors/mindfulware.png" class="img-sponsor-logo">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="/wall" class="btn btn-lg btn-primary"><i class="fa fa-diamond"></i> The Wall of Awesome <i class="fa fa-diamond"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container content-container" id="sponsors">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="content-header text-center">OSMI Supporters 2015</h2>
                </div>
            </div>

            <div class="row row-sponsor ultra">
                <div class="col-sponsor-category col-md-3">
                    Ultra
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://www.mindfulware.com/" target="_blank"><img src="/img/sponsors/mindfulware.png" class="img-sponsor-logo"></a>
                    <a href="http://watchmecode.net/" target="_blank"><img src="/img/sponsors/watchmecode.png" class="img-sponsor-logo"></a>
                    <a href="http://cakephp.org/" target="_blank"><img src="/img/sponsors/cakesoftwarefoundation.png" class="img-sponsor-logo"></a>
                </div>
            </div>

            <div class="row row-sponsor mega">
                <div class="col-sponsor-category col-md-3">
                    Mega
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://www.cakedc.com/" target="_blank"><img src="./img/sponsors/cakedc.png" class="img-sponsor-logo"></a>
                    <a href="http://dealnews.com/" target="_blank"><img src="./img/sponsors/dealnews.png" class="img-sponsor-logo"></a>
                </div>
            </div>

            <div class="row row-sponsor amaze">
                <div class="col-sponsor-category col-md-3">
                    Amaze
                </div>
                <div class="col-sponsor col-md-9">
                    <a href="http://brandingbrand.com/" target="_blank"><img src="./img/sponsors/brandingbrand.png" class="img-sponsor-logo"></a>
                    <a href="http://hock.in/" target="_blank"><img src="./img/sponsors/chris-hartjes-is-a-complete-jerk.png" class="img-sponsor-logo"></a>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="/wall" class="btn btn-lg btn-primary"><i class="fa fa-diamond"></i> The Wall of Awesome <i class="fa fa-diamond"></i></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
