{# file pages/resources/index.twig #}
{% extends 'layouts/default.twig' %}

{% block page_title %}Resources :: {{ parent() }}{% endblock %}

{% block content %}

    <div class="container content-container" id="resources">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="content-header"><i class="fa fa-file-o"></i> Resources</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-quote">
                Resources created by OSMI volunteers provide direction in creating
                supportive workplaces for those dealing with mental disorders.
            </div>
            <div class="col-sm-8 col-xs-12 col-content">
                <h2 class="content-header">OSMI Resources</h2>
                <div class="list-group">
                    <a class="list-group-item" id="link-guidelines-mental-wellness" href="/resources/guidelines-mental-wellness/">
                        <h4 class="resource-title"><i class="fa fa-file fa-fw"></i> Mental Health in Tech: Guidelines for Mental Wellness in the Workplace</h4>
                        <p class="resource-description">This document outlines benefits and potential steps to promote mental wellness in an organization. It is not a comprehensive guide to implementing a workplace wellness program, but rather resources and models to consider.</p>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item" id="link-ada-employers-guide" href="/resources/ada-employers-guide/">
                        <h4 class="resource-title"><i class="fa fa-file fa-fw"></i> Mental Health in Tech: Guidelines for Executives and HR Professionals</h4>
                        <p class="resource-description">Information on applying the Americans with Disabilities Act (ADA) to mental health issues in the workplace, aimed at executives and HR teams.</p>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item" id="link-ada-employees-guide" href="/resources/ada-employees-guide/">
                        <h4 class="resource-title"><i class="fa fa-file fa-fw"></i> Mental Health in Tech: Guidelines for Employees</h4>
                        <p class="resource-description">Information for employees on how the Americans with Disabilities Act (ADA) protects them in the workplace, specifically regarding mental health issues.</p>
                    </a>
                </div>
            </div>

            <div class="col-sm-offset-4 col-sm-8 col-xs-12 col-content">

                <h2 class="content-header">Other Resources</h2>
                <div class="list-group">
                    <a class="list-group-item" href="https://www.imalive.org/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> IMAlive</h4>
                        <p class="resource-description">An Online Crisis Network. The first online network with 100% of its volunteers trained and certified in crisis intervention.</p>
                    </a>
                    <a class="list-group-item" href="http://www.crisistextline.org/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> Crisis Text Line</h4>
                        <p class="resource-description">An anonymous service to provide live, trained counselors when you are in need. <strong>Text 741-741 when in crisis</strong>.</p>
                    </a>
                    <a class="list-group-item" href="http://www.mentalhealthfirstaid.org/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> Mental Health First Aid</h4>
                        <p class="resource-description">An in-person training that teaches you how to help people developing a mental illness or in a crisis</p>
                    </a>
                    <a class="list-group-item" href="http://zerosuicide.sprc.org/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> Zero Suicide</h4>
                        <p class="resource-description">Zero Suicide is a commitment to suicide prevention in health and behavioral health care systems and is also a specific set of strategies and tools</p>
                    </a>
                    <a class="list-group-item" href="http://www.if-me.org/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> If Me</h4>
                        <p class="resource-description">A community for mental health experiences</p>
                    </a>
                    <a class="list-group-item" href="http://helpguide.org/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> HelpGuide.org</h4>
                        <p class="resource-description">A trusted non-profit guide to mental health and well-being</p>
                    </a>
                    <a class="list-group-item" href="http://www.devpressed.com/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> DevPressed</h4>
                        <p class="resource-description">An online support group for developers</p>
                    </a>
                    <a class="list-group-item" href="http://nami.org" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> National Alliance on Mental Illness</h4>
                        <p class="resource-description">The nation’s largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness</p>
                    </a>
                    <a class="list-group-item" href="http://bit.ly/namilocal" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> NAMI Local Chapters</h4>
                        <p class="resource-description">Find your local chapter of NAMI</p>
                    </a>
                    <a class="list-group-item" href="http://www.mentalhealthamerica.net/" target="_blank">
                        <h4 class="resource-title"> <i class="fa fa-chevron-circle-right fa-fw"></i> Mental Health America</h4>
                        <p class="resource-description">The nation's leading community-based nonprofit dedicated to addressing the needs of those living with mental illness and to promoting the overall mental health of all Americans</p>
                    </a>
                    <a class="list-group-item" href="http://www.mentalhealthamerica.net/" target="_blank">
                        <h4 class="resource-title"> <i class="fa fa-chevron-circle-right fa-fw"></i> MHA - Find an affiliate</h4>
                        <p class="resource-description">Find a local affiliate of Mental Health America</p>
                    </a>
                    <a class="list-group-item" href="http://www.nimh.nih.gov" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> National Institute of Mental Health</h4>
                        <p class="resource-description">The National Institute of Mental Health (NIMH) is the lead federal agency for research on mental disorders</p>
                    </a>
                    <a class="list-group-item" href="http://BlueHackers.org" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> BlueHackers</h4>
                        <p class="resource-description">A mental health advocacy and awareness group for geeks and hackers</p>
                    </a>
                    <a class="list-group-item" href="http://mentalpod.com" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> Mental Illness Happy Hour</h4>
                        <p class="resource-description">An amazing podcast, forum, and set of resources</p>
                    </a>
                    <a class="list-group-item" href="http://www.onlinecolleges.net/for-students/mental-health-resources/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> Critical Mental Health Resources For College Students</h4>
                        <p class="resource-description">A great collection of self-assessments, advice, and resources. Aimed at college students, but most of it is useful to everyone</p>
                    </a> 
                    <a class="list-group-item" href="http://www.crisistextline.org/trends/" target="_blank">
                        <h4 class="resource-title"><i class="fa fa-chevron-circle-right fa-fw"></i> Crisis Trends</h4>
                        <p class="resource-description">Crisis Trends aims to empower journalists, researchers, and citizens to understand the crises Americans face so we can work together to prevent future crises from happening</p>
                    </a> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}
