{# file pages/resources/index.twig #}
{% extends 'layouts/default.twig' %}

{% block page_title %}Research :: {{ parent() }}{% endblock %}

{% block content %}


<div class="container content-container" id="Research">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="content-header"><i class="fa fa-flask"></i> Research</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-quote">
            This has by far been the most valuable talk I've attended at this conference and many others.<br>
            &mdash; <a href="https://joind.in/talk/view/9988#comments" target="_blank">Stefan Koopmanschap</a>
        </div>
        <div class="col-sm-8 col-xs-12 col-content">
            <h3 class="no-lead-padding content-header">OSMI Mental Health in Tech Survey</h3>

            <h3>2016</h3>
            <p>Currently over 1400 responses, the ongoing 2016 survey aims to measure attitudes towards mental health
                in the tech workplace, and examine the frequency of mental health disorders among tech workers.</p>
            <p>
                <a class="btn btn-primary" href="http://j.mp/osmisurvey2016"><i class="fa fa-check-square"></i> Take the survey now!</a>
                <a class="btn btn-primary" href="https://osmi.typeform.com/report/Ao6BTw/U76z"><i class="fa fa-bar-chart"></i> View basic report</a>
            </p>
            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="text-info">
                        <i class="fa fa-pull-left fa-3x fa-creative-commons"></i>
                        <small>These works are licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a>.</small>
                    </p>
                </div>
            </div>

            <h3>2014</h3>
            <p>With over 1200 responses, we believe the 2014 Mental Health in Tech Survey is the largest survey
            done on mental health in the tech industry.</p>

            <p>
                <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1cr65P3ciL2tD4W4KOCTz4Ik67iD52S_DKHXypqgta2o/edit?usp=sharing"><i class="fa fa-table"></i> Get raw data</a>
                <a class="btn btn-primary" href="https://docs.google.com/forms/d/1FqpxZXORRNDQ4niSeqLx0Qy2VfUod_qlAvpnOyTEB9k/viewanalytics"><i class="fa fa-pie-chart"></i> View basic report</a>
                <a class="btn btn-primary" href="/talks"><i class="fa fa-photo"></i> View talks using data</a>
            </p>

            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="text-info">
                        <i class="fa fa-pull-left fa-3x fa-creative-commons"></i>
                        <small>These works are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</small>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}
