@color-slate: #59656F;
@fixed-nav-padding: 61px;

/*
 * import the bootstrap less theme
 */
@import "./bootstrap-theme";

/* This is for the fixed navbar */
body {
  padding-top: @fixed-nav-padding;
}

body {
  .navbar {
    background-image: url('/img/osmi-logo-translucent.png');
    background-size: 800px 800px;
    background-position: -200px -300px;
    background-repeat: no-repeat;
  }
}
body.splash {
  .navbar {
    background-image: none;
  }
}

.list-group-item {
  display: inline-block;
  width: 100%;
}

.no-lead-padding {
  margin-top: 0;
}

.abs-img-container {
  position: absolute;
  pointer-events: none;
}

.btn, button {
  font-family: @font-family-sans-serif;
}

.navbar {
  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
    border-bottom-width: 0;
  }
  .nav > li > a {
    padding: 10px 14px;
  }
}

// make the red donate button stand out!
.navbar-inverse .navbar-nav > li > a.btn-primary {
  color: white;
}

.navbar-fixed-top {
  z-index: 1000;
}

.navbar-brand {
  font-family: @font-family-sans-serif;
  a.btn, img {
    height: 25px;
  }
  &.navbar-btn {
    @media (max-width: @screen-xs-max) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.navbar-nav li a.btn {
  color: white;
}

#logo, #logo-translucent {
  display: none;
}
body.splash {
  background-image: none;
  #logo, #logo-translucent {
    display: block;
  }
}

#logo {
  z-index: 1002;
  @media (min-width: @screen-sm-min) {
    width: 330px;
    margin-top: 45px - @fixed-nav-padding;
    margin-left: 60px;
  }
  @media (min-width: @screen-md-min) {
    width: 450px;
    margin-top: 45px - @fixed-nav-padding;
    margin-left: 70px;
  }
  @media (min-width: @screen-lg-min) {
    width: 600px;
    margin-top: 45px - @fixed-nav-padding;
    margin-left: 80px;
  }
}

#logo-translucent {
  width:1000px;
  margin-top:-400px - @fixed-nav-padding;
  margin-left:-700px;
  opacity: .5;
  @media (min-width: @screen-sm-min) {
    z-index: 1001;
    width:1050px;
    margin-top:-512px - @fixed-nav-padding;
    margin-left:-512px;
  }
  @media (min-width: @screen-md-min) {
    width:1200px;
    margin-top:-512px - @fixed-nav-padding;
    margin-left:-512px;
  }
  @media (min-width: @screen-lg-min) {
    width:1300px;
    margin-top:-512px - @fixed-nav-padding;
    margin-left:-512px;
  }
}

.header-primary {
  color: @brand-primary;
}

a.panel-osmi-linkwrap *, a.panel-osmi-linkwrap:active, a.panel-osmi-linkwrap:visited, a.panel-osmi-linkwrap:hover {
  text-decoration: none;
  cursor: pointer;
}

.col-panel-osmi {
  background-color: white;
  color: @gray-dark;
  padding: 0;
  border: 5px solid lighten(@color-slate, 40%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}

.panel-osmi {
  border: 0;
  .panel-body {
    border: 0;
  }
  p {
    font-weight: 300;
    color: @gray-dark;
  }
  .fa {
    color: @color-slate;
  }
  @media (min-width: @screen-md-min) {
    //min-height: 460px;
  }
  @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
    font-size: 14px;
    //min-height: 390px;
  }
}

.btn-panel-osmi, a.btn-panel-osmi {
  .button-variant(white; @gray-dark; @gray-dark);
  text-transform: uppercase;
  letter-spacing: 2px;
  @media (max-width: @screen-sm-max) {
    letter-spacing: 0;
  }
  align-self: flex-end;
}

h2.header-osmi-box {
  color: @brand-primary;
  font-size: 48px;
  margin-top: .25em;
  @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
    font-size: 36px;
  }
}

#hero-image-container {
  position: relative;
}

#logo-container-xs {
  margin-bottom: 1em;
}

.abs-box {
  position: absolute;
  pointer-events: none;
}

#hero-image-box-left {
  bottom: 0;
  top: 0;
  width: 200px;
  background-color: rgba(216,216,216,.4);
  border: 1px solid @gray-light;
  border-top-width:0;
}

#hero-image-box-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: rgba(255,255,255,.7);
  border: 1px solid @gray-dark;
}

#hero-image-box-subtitle {
  font-size: 32px;
  font-weight: 300;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 80px;
  line-height: 28px;
  font-family: @font-family-serif;
  @media (min-width: @screen-sm-min) {
    font-size: 30px;
    left: 25%;
    right: 0;
    bottom: 0;
    height: 80px;
    line-height: 32px;
  }
  @media (min-width: @screen-md-min) {
    font-size: 30px;
    left: 40%;
    right: 0;
    bottom: 0;
    height: 80px;
    line-height: 32px;
  }
  @media (min-width: @screen-lg-min) {
    left: 45%;
    right: 0;
    bottom: 0;
    height: 80px;
    line-height: 34px;
    letter-spacing: -1px;
  }
}

#hero-bottom {
  background-color: @gray-base;
  min-height: 2em;
  padding: .5em;
  color: @gray-lighter;
  p {
    margin-bottom: 0;
  }
}

.content-container {
  padding-top: .5em;
  padding-bottom: 1em;
  @media (min-width: @screen-sm-min) {
    padding-top: 1em;
  }
}

.container-fluid .container {
  //padding:0;
}

.talks-container {
  background: url('../img/osmi-logo-translucent.png') lighten(@color-slate, 30%) no-repeat fixed 50% 50%;
}

.content-header {
  color: @brand-primary;
  border-bottom: 1px @gray-light solid;
  margin-bottom: .5em;
  padding-bottom: .25em;
  margin-top: 0em;
}


h1.content-header {
  font-size: 64px;
  @media (min-width: @screen-sm-min) {
    font-size: 80px;
  }
}

h2.content-header {
  font-size: 48px;
  @media (min-width: @screen-sm-min) {
    font-size: 64px;
  }
}

h3.content-header {
  font-size: 30px;
  @media (min-width: @screen-sm-min) {
    font-size: 40px;
  }
}

.col-content {
  font-size: 18px;
  line-height: 1.6em;
}
.col-quote {
  color: @gray-light;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 1em;
}

.talk-event {
  margin-bottom: 4px;
}

.talk-date {
  margin-bottom: 4px;
}

.watch-list, .upcoming-list {
  max-height: 390px;
  overflow: auto;
}

.watch-list-event, .upcoming-list-event {
  font-size: 22px;
}

.scrolling-list-indicator {
  background-color: @gray-lighter;
  color: @gray-light;
  overflow: auto;
  padding: 3px;
}


/*
this flexbox stuff is so we can have nicely aligned sponsor logos
*/
.col-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
.col-flex .sponsor-logo-wrapper {
  max-width: 250px;
  max-height: 300px;
  flex: 1 1 250px; // have to be specific about width b/c of webkit bug
  font-size: 32px;
  font-family: @font-family-sans-serif;
  text-align: center;
  border: 1px solid @gray-light;
  background-color: white;
  padding: 1em;
}

.resource-description {
  margin-left: 2em;
  font-weight: 300;
  font-size: .9em;
}

.alt-container {
  background-color: desaturate(@brand-success, 10%);
  color: white;
  a {
    color: lighten(@brand-danger, 40%);
  }
  .col-quote {
    color: @gray-dark;
  }
}
.alt-container-2 {
  background-color: lighten(@color-slate, 40%);
  color: @gray-darker;
  .col-quote {
    color: @gray-dark;
  }
}

.footer-container {
  padding-top: 1em;
  padding-bottom: 2em;
  @media (min-width: @screen-sm-min) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  background-color: @color-slate;
  color: white;
  li {
    font-family: @font-family-sans-serif;
    font-size: 24px;
    a {
      color: lighten(@brand-danger, 40%);
    }
  }
  .row-fineprint {
    padding-top: 1em;
    font-size: 14px;
    color: lighten(@color-slate, 40%);
    a {
      color: lighten(@brand-danger, 40%);
    }
  }
}

.highlight-row {
  padding: 0 0 1.5em;
}

.long-content {
  font-size: 16px;
  a {
    word-wrap: break-word;
    hyphens: auto;
  }
  p {
    line-height: 1.75em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  ul,ol {
    li {
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }
  p + ol, p + ul {
    margin-top:0;
  }
  h1, h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: .5em;
  }
  h1.content-header {
    margin-top: 0;
    font-size: 56px;
  }

  h1, hr {
    page-break-before: always;
  }

}

.thumbnail {
  .volunteer-name {
    margin: 5px 0;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.volunteer-thumbnail {
    cursor: pointer;
    &:hover {
      border-color: @brand-primary;
      .volunteer-name {
        color: @brand-primary;
      }
    }
  }
}

.row-splash-highlight, .row-splash-highlight-alt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col-splash-highlight, .col-splash-highlight-alt  {
  height: auto;
  min-width: 300px;
  background-color: lighten(@brand-primary, 10%);
  color: white;
  h2 {
    font-family: @font-family-serif;
    margin: 0;
    padding: .5em;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5em;
    @media (max-width: @screen-sm-max) {
      font-size: 16px;
    }
  }
  input[type=email] {
    border: 2px solid white;
    background: transparent;
    font-family: @font-family-sans-serif;
    color: white;
    .placeholder(@color: @gray-lighter)
  }
  padding: 1em;
}
.col-splash-highlight-alt {
  background-color: lighten(@brand-primary, 15%);
  color: white;
}

.row-splash-highlight-alt {
  .col-splash-highlight {
    background-color: darken(@brand-success, 10%);
  }
  .col-splash-highlight-alt {
    background-color: darken(@brand-success, 15%);
  }
}

.btn-splash-highlight, a.btn-splash-highlight {
  .button-variant(white; transparent; white);
  text-transform: uppercase;
  letter-spacing: 2px;
  @media (max-width: @screen-sm-max) {
    letter-spacing: 0;
  }
  border: 2px solid white;
}

